[
 [def Y
  [lambda [f]
   [[lambda [x] [f [x x]]]
    [lambda [x] [f [lambda [& args] [apply [x x] args]]]]]]]

 [def defun
  [macro [name arglist body]
   [list [quote def] name
    [list [quote Y]
     [list [quote lambda]
      [list name]
      [list [quote lambda]
       arglist body]]]]]]

 [def let
  [macro
   [binding body]
   [cons
    [cons [quote lambda]
     [cons [cons [car binding] nil]
      [cons body nil]]]
    [cons [car [cdr binding]] nil]]]]
]
